@charset "utf-8";

*{
	margin: 0;
	padding: 0;
	font-family: oswald, sans-serif;
}
body{
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
}
.back{
	width: 55%;
	height: 100%;
	position: absolute;
	display: inline;
}
.cookie{
	position: fixed;
	width: 55%;
	bottom: 0;
	left: 0;
	display: flex;
}
.cookie img{
	padding: 20px;
	width: 50px;
	height: 50px;
}
.cookie img:hover{
	cursor: pointer;
	width: 60px;
	height: auto;
	transition: 0.5s;
}
.container{
	width: 80%;
	height: 90vh;
	margin: 10% auto;
	text-align: center;
}
.container img{
	width: 90%;
	margin: 10% auto;
}
.logo h2{
	color: #49157f;
	margin-bottom: 10px;
	font-size: 1.2em;
	text-align: center;
}
.logo p{
	margin-bottom: 10px;
	font-size: 0.9em;
}
input{
	width: 70%;
	margin: 5px auto;
	padding: 15px;
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: 2px solid black;
	border-radius: 10px;
	background-color: #f5f5f5;
	font-size: 1em;
	color: black;
}
.nsenha{
	width: 90%;
	text-align: right;
	color:  #49157f;
	margin: 5px 0;
}
.nsenha a{
	color:  #7c1db4;
	font-size: 0.9em;
}
.check{
	width: 50%;
	margin: 0 auto;
	display: flex;
	gap: 5px;
	align-items: center;
}
.check input[type=checkbox]:hover{
	cursor: pointer;
}
.check label:hover{
	cursor: pointer;
}
.check input[type=checkbox]{
	-webkit-appearance: none;
	width: 15px;
	height: auto;
	border:2px solid #7c1db4;
}
.check input[type=checkbox]:checked{
	background-color: #7c1db4;;
}
label{
	width: auto;
	white-space: nowrap;
}

.continuar{
	background-color: #7c1db4;
	width: 60%;
	height: 40px;
	border-radius: 50px;
	margin: 10px 0 5px 0;
	color: white;
	border: none;
	font-weight: bold;
	font-size: 0.9em;
}
.continuar:hover{
	cursor: pointer;
}
.continuar:active{
	background-color: white;
	color: #8a4dad;
	transition: 0.5;
}
.primeiro{
	color: #7c1db4;
	width: 60%;
	height: 40px;
	border-radius: 50px;
	margin: 5px 0 10px 0;
	border-color: #7c1db4;
	font-weight: bold;
	font-size: 0.9em;
}
.primeiro:hover{
	cursor: pointer;
}
.primeiro:active{
	background-color: #8a4dad;
	color: white;
	transition: 0.5;
}

@media (min-width: 780px){
	.back{
		background-image: url("../imagens/download.jpeg");
		background-size: 100% 100%;
		background-position: center center;
	}
}