@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    background-color: black;
    font-family:Arial, Helvetica, sans-serif
}
body{
    color: white;
}
.logo{
    width: 50%;
    height: 100%;
    position: absolute;
}
.logo img{
    width: 100%;
    height: 100%;
}
.right{
    width: 45%;
    height: 100%;
    position: absolute;
    margin-left: 10%;
    right: 0;
}
h1{
    font-size: 4em;
    margin: 40px 0;
    width: 50%;
}
span{
    font-size: 2.3em;
    font-weight: bolder;
    color: #71767b;
    padding-left: 10%;
}
.new{
    width: 50%;
    max-width: 350px;
    margin-top: 30px;
    padding-left: 10%;
}
.new img{
    width: 20px;
    height: 20px;
    background-color: white;
    margin-right: 10px;
}
.new button{
    background-color: white;
    border-radius: 50px;
    height: 42px;
    width: 90%;
    vertical-align: middle;
    margin-bottom: 10px;
    font-size: 0.9em;
}
.new .ncont{
    background-color: #1d9bf0;
    color: white;
    font-weight: bold;
    font-size: 0.9em;
    margin-top: 5px;
}

.new .option{
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    width: 90%;
    color: white;
}
.new p{
    margin: 10px 0;
    font-size: 0.7em;
    color: #71767b;
}
.new p a{
    color: #1d9bf0;
    text-decoration: none;
}

.login{
    width: 70%;
    max-width: 350px;
    margin-top: 30px;
    margin-left: 10%;
}
.login h2{
    font-size: 1em;
    margin-top: 50px;
    margin-bottom: 20px;
}
.login button{
    background: none;
    border: #71767b 1px solid;
    color: #1d9bf0;
    width: 90%;
    height: 42px;
    border-radius: 50px;
    font-size: 0.9em;
}
.end{
    width: 90%;
    height: 100px;
    font-size: 0.8em;
    color: #71767b;
    margin: 10px auto;
    text-align: center;
    position: absolute;
    margin-top: 90vh;
}
@media screen and (max-width: 800px){
    .container{
        height: 95vh;
    }
    .logo{
        width: 100%;
        height: auto;
        text-align: left;
        margin: 20px 0 0 10px;
    }
    .right{
        width: 100%;
        margin: 0 auto;
        height: 100vh;
        position: relative;
        text-align: center;
    }
    h1{
        width: 70%;
        font-size: 2.3em;
        margin: 20px auto;
    }
     .right span{
        font-size: 1.2em;
        padding-left: 0;
    }
    .new, .login{
        text-align: center;
        width: 80%;
    }
    .new .option{
        font-size: 0.8em;
        width: 100%;
    }
    .logo{
        position: relative;
    }
    .logo img{
        width: 70px;
        height: 60px;
    }
    .end{
        width: 100%;
        margin: 0 auto;
    }
    .login h2{
        margin-top: 50px;
        text-align: left;
    }
}
